@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

// Font variables
$font-family: "Playfair Display SC", sans-serif;
$second-family: "Cinzel", sans-serif;
$third-family: "Montserrat Alternates", sans-serif;

.page {
  background-color: #d9eef2;
  display: flex;
  flex-direction: column;

  &__floater {
    transform: translateX(-50%);
    left: 50%;
    top: 25px;
    position: fixed;
    z-index: 99;
    border-radius: 51px;
    width: 400px;
    height: 87px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(207, 205, 205, 0.3);
    backdrop-filter: blur(10px);
    border-top: 2px solid rgba(255, 255, 255, 0.5);

    &--logo {
      border-radius: 146px;
      width: 87px;
      height: 87px;
    }

    &--text {
      position: absolute;
      top: 13px;
      left: 100px;
      font-family: $second-family;
      font-weight: 400;
      font-size: 20px;
      color: #000;
    }
  }

  &__hero {
    margin-top: 150px;
    width: 100%;
    height: 239px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.1);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      filter: blur(14.1px);
      z-index: 0;
    }

    &--title {
      position: relative;
      z-index: 1;
      font-family: $font-family;
      font-weight: 400;
      font-size: 35px;
      color: #000;
      text-align: center;
    }

    &--text {
      position: relative;
      z-index: 1;
      font-family: $font-family;
      font-weight: 700;
      text-align: center;
      font-size: 24px;
      color: #000;
      bottom: 26px;
      width: 369px;
    }
  }

  &__section--title {
    text-align: center;
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
  }

  &__form {
    margin-top: 44px;

    &--title {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      color: #000;
      margin-left: 50px;
      text-align: left;
    }

    &--input {
      display: block;
      border: 0.5px solid #000;
      border-radius: 34px;
      width: 360px;
      height: 44px;
      box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
      background: #f0f0f0;
      transition: 0.3s ease;
      padding-left: 20px;
      margin: 0 auto;
      // margin-left: 50px;
      margin-bottom: 33px;

      &:focus {
        border: 3px solid #17ce11;
      }

      &::placeholder {
        font-family: $third-family;
        font-weight: 400;
        font-size: 12px;
        color: #000;
      }
    }

    &--button {
      display: block;
      border: 0.7px solid #000;
      border-radius: 17px;
      width: 194px;
      height: 53px;
      box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.25);
      background: #86b692;
      font-family: $third-family;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: #000;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px;
      transition: 0.3s ease;

      &:active {
        background: darken(#86b692, 5%);
        transform: translateY(2px);
      }
    }
  }
}

.footer {
  background-color: black;
  width: 100%;
  height: 154px;
  display: flex;
  position: relative;

  &__logo {
    border-radius: 146px;
    width: 87px;
    height: 87px;
    margin-top: 35px;
    margin-left: 25px;
  }

  &__textwrap {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
  }

  &__ld {
    color: white;
    margin-bottom: 0;
  }

  &__rights {
    color: white;
    margin-top: 0;
  }

  &__made {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 70%;
    left: 70%;
  }

}

#formMessage {
  margin-top: 20px;
  font-family: $third-family;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}


////////////////////////////




.login-card {
  position: absolute;  
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  border: 1px dashed #000;

  &--title {
    font-family: $third-family;
    width: 240px;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin-bottom: 0;
  }

  &--text {
    font-family: $third-family;
    font-weight: 400;
    font-size: 16px;
    width: 290px;
    color: #000;
  }

  &--input {
    border-radius: 32px;
    padding: 10px;
    margin-bottom: 12px;
    width: 200px;
    transition: 0.3s ease;

    &:focus {
      border: 3px solid #17ce11;
      transform: scale(1.02);
    }
  }

  &--button {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
    width: 100px;
    border: 0.7px solid #000;
  }
}

.error-message {
  color: black;
  margin-top: 10px;
  font-family: $third-family;
  font-weight: 600;
  font-size: 14px;
}



.feedback-card {
  background-color: white;
  border: 3px solid #545050;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  position: absolute;
  left: 65%;
  background-color: #e36a5c;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

  &:active {
    background-color: darken(#e36a5c, 5%);
    transform: translateY(2px);
  }
}



.admin {

  &-feedbackTitle {
    font-family: $third-family;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000;
    margin-top: 20px;
  }

&-title {
  font-family: $third-family;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}
}

.back-home {
  font-family: $third-family;
  font-weight: 400;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  margin-top: 20px;

  &:active {
    text-decoration: underline;
  }
}

.logout-btn {
  top: -10px;
  right: 10px;
  position: absolute;
  font-family: $third-family;
  font-weight: 400;
  font-size: 25px;
  color: #000;
  height: 40px;
  width: 140px;
  background: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 12px;
  border: 0.7px solid #000;

  &:active {
    text-decoration: underline;
  }
}